html {
  background-color: #171717;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  font-family: "Nunito Sans", sans-serif;
  width: 1460px;
  color: white;
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 200px;
  align-items: center;
}
.header-nav {
  border: solid 1px #e4b564;
  width: 218px;
  height: 50px;
  font-family: Ballet;
  font-size: 18px;
  font-weight: 400;
  color: #e4b564;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
  justify-items: center;
}
.nav {
  display: grid;
  justify-content: end;
}

/* Main */
.main {
  font-family: "Nunito Sans", sans-serif;
}
.main-header {
  display: grid;
  grid-template-rows: 110px;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.discription {
  display: grid;
  grid-template-rows: 110px;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.main-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 469px;
  grid-gap: 10px;
}
.item {
  display: grid;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.item-1 {
  background-color: #634f2c;
}
.item-2 {
  background-color: #b4a385;
}
.item-3 {
  background-color: #e4b564;
}
.item-4 {
  background-color: #635a4a;
}
.item-5 {
  background-color: #b08c4d;
}
.main-card-wrapper2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 469px;
  grid-gap: 10px;
}

.second-header {
  display: grid;
  grid-template-rows: 200px;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
}
.item-second-1 {
  background-color: #0e0e0e;
  display: grid;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-content: center;
  align-items: center;
}
.item-second-2 {
  background-color: #242424;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.item-second-3 {
  background-color: #1f1f1f;
  display: grid;
  justify-content: center;
  align-items: center;
}
.item-second-4 {
  background-color: #1f1f1f;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row-start: 4;
  grid-row-end: 6;
}
.item-second-6 {
  display: grid;
  background-color: #0a0909;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: center;
  align-content: center;
}
.item-second-5 {
  display: grid;
  background-color: #b08c4d;
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  align-content: center;
}
.item-second-7 {
  display: grid;
  background-color: #242424;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: center;
  align-content: center;
}
.main-card-second {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 30px 65px 76px 150px;
}

/* Footer */
/* .footer {
  background-color: #0a0909;
} */
.footer-nav {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 100px;
}
.footer-project {
  display: grid;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-nav-a {
  display: grid;
  justify-content: end;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer-project-a {
  display: grid;
  align-items: center;
  justify-content: center;
  border: solid 1px #e4b564;
  color: #e4b564;
  width: 180px;
  height: 50px;
  font-family: "Nunito Sans", sans-serif;
}
.our-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 391px 391px;
}
.footer-card-1 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #634f2c;
}
.footer-card-2 {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #e8d2abc2;
  align-content: center;
  justify-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.footer-card-3 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #e4b564;
}
.footer-card-4 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #635a4a;
}
.footer-card-5 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #b08c4d;
}
.footer-card-6 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #634f2c;
}
